* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50px 70px 60px auto 60px auto;
    background-color: #f1f5f9;
    min-width: 875px;
    grid-auto-rows: auto;
    height: 100vh;
}

.dashboard {
    color: white;
    background-color: #3b82f6;
    gap: 50px;
    padding: 0px 20px 0 20px;
    height: 100%;
    grid-template-rows: 50px 250px 1fr;
    display: grid;
    grid-row: 1/7;
    grid-column: 1;
}

.logo{
    display: grid;
    align-items: center;
    grid-template-columns: 15% 85%;
    gap: 20px;
}

.logo>svg{
    width: 45px;
    height: 45px;
}

.logo>h1{
    color: white!important;
    font-size: clamp(1.1rem, 1.8vw, 1.6rem);
}

.logo:hover{
    cursor: pointer;
    color: black;
}

.nav>ul>li, .nav-2>ul>li {
    display: grid;
    align-items: center;
    gap:20px;
    grid-template-columns: 10% 90%;
    font-weight: bold;
    font-size: 1.2rem;
    list-style: none;
    line-height: 1.9;
}

.nav>ul>li:hover, .nav-2>ul>li:hover{
    color: black;
    cursor: pointer;
}

.search-bar {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-row: 1;
    padding: 10px 60px 0 40px;
    background-color: white;
    grid-column: 2/4;
    z-index: 1;
    align-items: center;
}

.search-form{
    display: grid;
    grid-template-columns: 5% 80%;
    align-items: center;
}

.search-form>button{
    all: unset;
    grid-column: 1;
    grid-row: 1;
    justify-items: start;
    width: 20px;
    height: 20px;
}
.search-form>button:hover{
    color: #3b82f6;
    cursor: pointer;
}

.search-form>input{
    border: none;
    height: 25px;
    background-color: #f1f5f9;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 1;
}

.notifications{
}

.notifications>ul {
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: 1fr 2fr 4fr;
}

.notifications>ul>li {
    list-style: none;
}

.user-bar {
    display: grid;
    background-color: white;
    grid-template-columns: 4fr 1fr;
    padding: 0px 60px 0 40px;
    grid-row: 2;
    grid-column: 2/4;
    box-shadow: 0 4px 10px -5px #888888;
}

.user {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr;
    gap: 15px;
    align-items: center;
}

.user-name>p{
    font-weight: bold;
}

.user-name>h1{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.user-tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: end;
}

.user-tools>button {
    color: white;
    font-weight: bold;
    border:none;
    background-color: #3b82f6;
    border-radius: 20px;
    width: 80px;
    height: 40px;
}

.user-tools>button:hover{
    color: black;
    cursor: pointer;
}

.content-bar-1 {
    grid-row: 3;
    grid-column: 2;
    padding-left: 15px;
}

.content-bar-2 {
    grid-row: 3;
    grid-column: 3;
    padding-right: 20px;
}

.content-bar-1, .content-bar-2, .content-bar-3 {
    display: grid;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 1.5rem;
    align-content: end;
}

.projects {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-row: 4/7;
    grid-column: 2;
    margin: 0 15px 70px 15px;
}

.projects>.card {
    padding: 20px 15px;
    background-color: white;
    border-radius: 10px;
    border-left: 7px solid #f59e0b;
    box-shadow: 0 4px 10px -5px #888888;
}

.card>h2{
    font-size: 1.1rem;
}
.card>p{
    font-size: 0.9rem;
}

.card>:nth-child(3){
    padding-top: 20px;
    text-align: end;
}

.announcements {
    padding: 25px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px -5px #888888;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-row: 4;
    grid-column: 3;
    margin-right: 20px;
}

.announcements>div>p{
    font-size: 0.8rem;
}

.announcements>div>h2{
    font-size: 0.9rem;
}

.content-bar-3 {
    grid-row: 5;
    grid-column: 3;
    padding-right: 20px;
}

.trending {
    padding: 25px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px -5px #888888;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    grid-row: 6;
    grid-column: 3;
    margin: 0 20px 70px 0;
}

.other-users{
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
    align-items: center;
}